body {
    margin: 0;
    padding: 0;
    background: #ededed;
    min-height: 100%;
    color: #555;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

form {
	margin-top: 20px;
}

label {
	display: block;
	margin: 10px 0;
	font-weight: 600;
	font-size: 16px;
}

.align-center {
	text-align: center;
}

.input {
	padding: 10px;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	color: #555;
	font-weight: 500;
}

.input:focus {
	border: 1px solid #467fcf;
}

.input-control {
	margin-bottom: 10px;
}

.btn {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border: none;
	padding: 12px 16px;
	border-radius: 2px;
	background: #467fcf;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
}

.btn:hover {
	background: #1e68ce;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-red {
	background: #cd201f;
}

.btn-red:hover {
	background: #b70b0b;
}

.container {
	width: 65%;
	margin: 0 auto;
}

.clear {
	clear: both !important;
}

.card {
	width: 100%;
	background: #fff;
	/*border: 1px solid;
	border-color: #e0e0e0;*/
	border-radius: 3px;
	/*display: flex;*/
	margin: 5px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.card-title {	
	padding: 16px;
	border-bottom: 1px solid #e0e0e0;
	background: #0a1d38;
	color: #e0e0e0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-content {	
	padding: 16px;
}

.card-content-buttons {
	padding: 20px 0;
}

table {
	width: 100%;
}

table thead {
	border-bottom: 1px solid #e0e0e0;
}

table th {
	text-align: left;
	padding: 0 2px 7px 2px;
	border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) {
    background-color: #f2f2f2
}

table td {
	padding: 7px 2px 10px 2px;
	border-bottom: 1px solid #e9e9e9;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.no-margin {
	margin: 0 !important;
}

.margin-right-16 {
	margin-right: 16px !important;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}

.side-2 {
	-ms-flex: 0 0 16.66666667%;
	flex: 0 0 16.66666667%;
	max-width: 16.66666667%;
}

.side-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.side-4 {
	-ms-flex: 0 0 33.33333333%;
	flex: 0 0 33.33333333%;
	max-width: 33.33333333%;
}

.side-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.side-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.side-2, .side-3, .side-4, .side-6 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.red-text {
	color: #f00;
}

/** main page styles **/
.header {
	background: #0a1d38;
	width: 100%;
	color: #e0e0e0;
}

.header .top-bar {
	padding: 16px;
	border-bottom: 1px solid #112e56;
}

.header .top-bar .brand {
	float: left;
}

.header .top-bar .account {
	float: right;
	width: 20%;
	cursor: pointer;
}

.header .top-bar .account label {
	margin: 0;
	padding: 0;
}

.header .top-bar .account label a{
	color: #f00;
}

.header .top-bar .account .profile-pic {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.header .top-bar .account .profile-pic img {
	width: 100%;
}

.header .navigation {
	border-bottom: 1px solid #e0e0e0;
}

.header .navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header .navigation ul a {
	text-decoration: none;
	color: #ddd;
	float: left;
	padding: 15px 0;
	margin-right: 20px;
}

.header .navigation ul a:hover {
	border-bottom: 1px solid #aaa;
	color: #aaa;
}

.header .navigation ul a.selected {
	border-bottom: 1px solid #467fcf;
	color: #467fcf;
}

.main-content {
	padding: 20px 0;
	margin-bottom: 50px;
}

/** login page styles **/

.login-main {
	width: 25%;
	margin: 200px auto;
	padding: 40px;
	background: #fff;
	/*border: 1px solid;
	border-color: #e0e0e0;*/
	border-radius: 3px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.container {
		width: 85%;
		margin: 0 auto;
	}

  	.login-main {
		width: 40%;
	}

	.side-3 {
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.side-4 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.side-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}
  	.login-main {
		width: 98%;
	}	

	.side-3 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.side-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.side-6 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	a.btn {
		margin-bottom: 30px !important;
	}

	.space-mobile {
		margin-bottom: 20px !important;
	}
}

footer {
	padding: 14px;
	border-top: 1px solid #e0e0e0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #0a1d38;
	color: #e0e0e0;
}

